/* admin-panel-frontend/src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove default Next.js styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* Font Inter sẽ được định nghĩa ở layout.tsx */
  /* color: #333; */ /* Hoặc màu chữ mặc định của Ant Design */
}

a {
  color: inherit;
  text-decoration: none;
}